SECRET_KEY=''3izb^ryglj(bvrjb2_y1fZvcnbky#358_l6-nn#i8fkug4mmz!''
ALLOWED_HOSTS='*'
DEBUG='True'
DB_NAME='HELLO_DJANGO'
DB_USER='U_HELLO'
DB_PASSWORD='hA8(scA@!fg3*sc&xaGh&6%-l<._&xCf'
DB_HOST='127.0.0.1'